  <!doctype html>
  <html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>R-shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap-social.css">
    <script defer src="https://friconix.com/cdn/friconix.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.11/js/all.js"></script>
    <link href="https://fonts.maateen.me/charu-chandan-hard-stroke/font.css" rel="stylesheet">
    <link href="https://fonts.maateen.me/apona-lohit/font.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster|Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Acme|Asap|Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo|Great+Vibes|Pacifico|Poppins|Zhi+Mang+Xing&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navColor">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand aColor brandFont" href="/">Brand</a>
        </div>
        <ul class="nav navbar-nav navbar-right">

        <li class=""> <a class="signUp aColor"href="/userregister"><i class="fas fa-user-plus" ></i>sign up</a>

      <a class="signUp aColor" href="/userlogin"><i class="fas fa-user-plus"></i>login</a></li>

        </ul>
      </div>
    </nav>

    <div id="part1">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="quote1">
      “The heart has no tears to give,<br />
      it drops only blood, bleeding itself away in silence.”
              </div>
            <img src="https://bloximages.newyork1.vip.townnews.com/stltoday.com/content/tncms/assets/v3/editorial/4/fe/4fe33d8f-5fcd-5402-9c4c-99b121c4d56c/4dfb99b2094ac.image.jpg" class="image1" alt="uncle toms cabin">
          </div>
          <div class="carousel-item">
            <div class="quote2">
            "It is the unknown we fear <br />
             when we look upon death and darkness, nothing more."
              </div>
            <img src="https://pictures.abebooks.com/JULIANBOOK/30089723387.jpg" class="image2" alt="harry potter and the half blood prince.jpg">
          </div>
          <div class="carousel-item">
            <div class="quote3">
      “Men go to far greater lengths to avoid<br />
       what they fear than to obtain what they desire.”
              </div>
            <img src="https://i.pinimg.com/originals/80/d8/d9/80d8d9e453b6c4711c95984d6b614d71.jpg" class="image3" alt="vincii code">
          </div>
          <div class="carousel-item">
            <div class="quote4">
      “মা , এখন আমার ছুটি  , <br />
      হয়েছে মা , এখন আমি বাড়ি যাচ্ছি. ”
              </div>
            <img src="https://images-na.ssl-images-amazon.com/images/I/51uoL%2B3miiL._SX319_BO1,204,203,200_.jpg" class="image4" alt="vincii code">
          </div>
          <div class="carousel-item">
            <div class="quote5">
      "কবরীতে ফুল শুকাল , কাননের ফুল ফুটল বনে,<br />
       দিনের আলো প্রকাশিল,মনের সাধ রহিল মনে ।"
              </div>
            <img src="https://anandodhara.com/wp-content/uploads/2019/02/bou-thakuranir-haat-by-rabindranath-thakur-front-cover.jpg" class="image5" alt="vincii code">
          </div>
      </div>
  <div class="download">
    <button type="button" class="btn btn-light btn-lg btn-xl btn2"><i class="fi-xnsuxl-apple"></i> Download</button>
    <button type="button" class="btn btn-primary btn-lg btn-xl btn1"><i class="fi-xnsuxl-playstore-solid"></i> Download</button>
    </div>
  </div>
  </div>
