<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>R-shop</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">

  <script defer src="https://friconix.com/cdn/friconix.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.11/js/all.js"></script>
<link href="https://fonts.googleapis.com/css?family=Baloo|Great+Vibes|Pacifico|Poppins|Zhi+Mang+Xing&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="navbar navColor">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand aColor brandFont" href="/">Brand</a>
      </div>
  </nav>
