<%- include('partials/mainHeader'); -%>
<section class="booksell">
  <h2 class="heading--secondary backgroung-color-blue">
      Book details
  </h2>
  <div class="booksell__form">
      <form class="booksell__form--form" action="/Upload" method="post" encType="multipart/form-data">
          <div class="booksell__form--form__bookname">
              <label class="booksell__form--form__bookname--label" for="bookname"><b>Book name:</b></label>
              <input class="booksell__form--form__bookname--input" type="text" name="bookName" value="" name="bookName" placeholder="">
          </div>
          <div class="booksell__form--form__bookAuthor">
              <label class="booksell__form--form__bookAuthor--label" for="bookAuthor"><b>Book Author</b></label>
          <input class="booksell__form--form__bookAuthor--input" type="text" name="bookAuthor" value="" name="bookAuthor" placeholder=""><br />
          </div>
          <div class="booksell__form--form__price">
              <label class="booksell__form--form__price--label" for="price"><b>price</b></label>
          <input class="booksell__form--form__price--input" type="text" name="price" value="" name="price" placeholder="" /><br>
          </div>
          <div class="booksell__form--form__imgUpload">
              <label class="booksell__form--form__imgUpload--label" for="imgUpload"><b>image upload</b></label>
              <input class="booksell__form--form__imgUpload--input" type="file" name="imgUpload"><br />
          </div>
          <div class="booksell__form--form__BookDetails">
              <label class="booksell__form--form__BookDetails--label" for="bookDetails"><b>About book</b></label><br/>
          <textarea class="booksell__form--form__BookDetails--textarea" name="bookDetals"placeholder="say something about the book"></textarea>
          </div>
          <div class="booksell__form--form__button margin-bottom--big margin-top--medium">
          <input type="hidden" name="id" value="<%=userId%>" />
          <button type="submit" class="btn btn-lg btn-warning form-button margin-bottom--big">submit</button>
          </div>
        </form>
  </div>
</section>
<%- include('partials/mainFooter') ;-%>
