<%- include("partials/header"); -%>

<section class="advertise">
  <div class="grid">
  <div>
      <img src="https://www.storytel.com//images/e/320x320/0000074774.jpg" class="advertise__image" alt="img" />
      <p class="advertise__info">
        <b>Author: Henry rider haggard</b><br />
        <b>price: 1650tk</b>
      </p>
    </div>
    <div>
      <img src="https://images-eu.ssl-images-amazon.com/images/I/61wD5tlFIVL.jpg" class="advertise__image" alt="">
      <p class="advertise__info">
        <b>Author: Ernest Hemingway</b><br />
        <b>price: 290tk</b>
      </p>
    </div>
    <div>
      <img src="https://i.pinimg.com/originals/45/37/26/4537265c6e672dfc98ae8bbda106fbb9.jpg" class="advertise__image" alt="">
      <p class="advertise__info">
        <b>Author: Robert Louis Stevenson</b><br />
        <b>price: 250tk</b>
      </p>
    </div>
    <div>
      <img src="https://bdebooks.com/wp-content/uploads/2019/10/25444349.jpg" class="advertise__image" alt="img" />
      <p class="advertise__info">
        <b>Author: Humayun Ahmed</b><br />
        <b>price: 1650tk</b>
      </p>
    </div>
    <div>
      <img src="http://hm.ittadishop.com/products/2844/60214/gludpas_g393oxw_1507467274.jpg" class="advertise__image" alt="">
      <p class="advertise__info">
        <b>Author: Rabindranath Tagore</b><br />
        <b>price: 380tk</b>
      </p>
    </div>
    <div>
      <img src="https://rukminim1.flixcart.com/image/832/832/book/7/2/7/pather-panchali-board-bound-original-imadgdf5hbsy9w52.jpeg?q=70" class="advertise__image" alt="">
      <p class="advertise__info">
        <b>Author: Robert Louis Stevenson</b><br />
        <b>price: 250tk</b>
      </p>
    </div>
    <div>
      <img src="https://d1jpltibqvso3j.cloudfront.net/images/product/305000/304745/250X360/304745.png" class="advertise__image" alt="img" />
      <p class="advertise__info">
        <b>Author: Humayun Ahmed</b><br />
        <b>price: 250tk</b>
      </p>
    </div>
    <div>
      <img src="http://www.loyalbooks.com/image/detail/Aesops-Fables.jpg" class="advertise__image" alt="">
      <p class="advertise__info">
        <b>Author: Rabindranath Tagore</b><br />
        <b>price: 380tk</b>
      </p>
    </div>
    <div>
      <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1347351732l/13652475.jpg" class="advertise__image" alt="">
      <p class="advertise__info">
        <b>Author: Robert Louis Stevenson</b><br />
        <b>price: 250tk</b>
      </p>
    </div>
  </div>
</section>
<section class="downloadable">
      <h3 class="downloadable__heading">" A room without books is like a body without a soul "</h3>
      <button type="button" class="btn btn-outline-warning btn-lg btn--download"><i class="fi-xnsuxl-apple"></i>Download</button>
      <button type="button" class="btn btn-outline-warning btn-lg btn--download"><i class="fi-xnsuxl-playstore-solid"></i>Download</button>
</section>

<%- include("partials/mainFooter") ; -%>
