<%- include("partials/header"); -%>


<div id="part2">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class ="heightt">
          <img src="https://www.storytel.com//images/e/320x320/0000074774.jpg" class="cover1" alt="img" />
          <div class="AuthPrice">
            <b>Author: Henry rider haggard</b><br />
            <b>price: 1650tk</b>
            </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div>
          <img src="https://images-eu.ssl-images-amazon.com/images/I/61wD5tlFIVL.jpg" class="cover1" alt="">
          <div class="AuthPrice">
            <b>Author: Ernest Hemingway</b><br />
            <b>price: 290tk</b>
            </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div>
          <img src="https://i.pinimg.com/originals/45/37/26/4537265c6e672dfc98ae8bbda106fbb9.jpg" class="cover1" alt="">
          <div class="AuthPrice">
            <b>Author: Robert Louis Stevenson</b><br />
            <b>price: 250tk</b>
            </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class ="heightt">
          <img src="https://www.pdf-archive.com/2016/12/25/himu-samagra-01-by-humayun-ahmed-amarboi-com/preview-himu-samagra-01-by-humayun-ahmed-amarboi-com-1.jpg" class="cover1" alt="img" />
          <div class="AuthPrice">
            <b>Author: Humayun Ahmed</b><br />
            <b>price: 1650tk</b>
            </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div>
          <img src="http://hm.ittadishop.com/products/2844/60214/gludpas_g393oxw_1507467274.jpg" class="cover1" alt="">
          <div class="AuthPrice">
            <b>Author: Rabindranath Tagore</b><br />
            <b>price: 380tk</b>
            </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div>
          <img src="https://rukminim1.flixcart.com/image/832/832/book/7/2/7/pather-panchali-board-bound-original-imadgdf5hbsy9w52.jpeg?q=70" class="cover1" alt="">
          <div class="AuthPrice">
            <b>Author: Robert Louis Stevenson</b><br />
            <b>price: 250tk</b>
            </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class ="heightt">
          <img src="https://d1jpltibqvso3j.cloudfront.net/images/product/305000/304745/250X360/304745.png" class="cover1" alt="img" />
          <div class="AuthPrice">
            <b>Author: Humayun Ahmed</b><br />
            <b>price: 250tk</b>
            </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div>
          <img src="http://www.loyalbooks.com/image/detail/Aesops-Fables.jpg" class="cover1" alt="">
          <div class="AuthPrice">
            <b>Author: Rabindranath Tagore</b><br />
            <b>price: 380tk</b>
            </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div>
          <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1347351732l/13652475.jpg" class="cover1" alt="">
          <div class="AuthPrice">
            <b>Author: Robert Louis Stevenson</b><br />
            <b>price: 250tk</b>
            </div>
        </div>
      </div>
    </div>


  </div>
</div>

<div class="part3">
  <h3 class="part3Highlight">" A room without books is like a body without a soul "</h3>
  <button type="button" class="btn btn-outline-warning btn-lg " style="
    font-family: 'Lobster', cursive;""><i class="fi-xnsuxl-apple"></i>Download</button>
  <button type="button" class="btn btn-outline-warning btn-lg" style="
    font-family: 'Lobster', cursive;""><i class="fi-xnsuxl-playstore-solid"></i>Download</button>
  </div>

<%- include("partials/footer") ; -%>
