<%- include("partials/loginHeader"); -%>
<section class="login">
  <div class="login__design">
      <span class="login--log">Log</span>
      <span class="login--in">In</span>
  </div>
  <div class="login__form">
      <form class="login--form" action="/userlogin" method="post">
          <label class="login--form--label" for="Email">Email</label>
          <input type="email" class="login--form--input" name="email" id="email" required autocomplete="off"/>
          <label class="login--form--label" for="password">password</label>
          <input type="password" class="login--form--input" name="password" required id="password"/>
          <button type="submit"class="btn btn-lg btn--form-login">Login</button>
      </form>
      <a class="btn btn--googleAuth" href="/auth/google" role="button">
        <div class="margin-3-px">
          <i class="fab fa-google "></i>
        </div>
          Sign In with Google
        </a>
  </div>
</section>



<%- include("partials/mainFooter") ; -%>
