<%- include("partials/loginHeader"); -%>
<div class="container-fluid">
<div class="row">
<div class="col-md-6">
  <div class="l1">
    Log
    </div>
    <div class="l2">
      In
  </div>
  </div>
  <div class="col-md-3">
<div class="log1">
    <form action="/userlogin" method="post">
      <label class=label1>
        email
      </label>
    <input class="input1"type="email" name="username" value="" placeholder="please type the email address"autofocus>
    <label class="label2">
      password
    </label>
  <input class="input2"type="password" name="password" value="" placeholder="please your password here" >
  <button type="submit" class="btn btn-lg loginButton">Login</button>
      </form>

      <a class="btn btn-block btn-social btn-google googly" href="/auth/google" role="button">
        <i class="fab fa-google"></i>
        Sign In with Google
      </a>
  </div>
  </div>
    </div>
</div>



<%- include("partials/loginFooter") ; -%>
