.dashboard{
    &__info{
        @include respond(mobile){
            display: none;
        }
        padding: 6%;
        background-color: #4b8a98;
        display: flex;
        &--user{
            display: flex;
            flex:0 0 70%;
            flex-wrap: wrap;
            &--circle{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #84142d;
                color: #cab93f;
                font-size: 2.5rem;
                height: 28rem;
                width: 28rem;
                border-radius: 50%;
                padding: 5%;
            }
        }
    }
    &__buttons{
        @include respond(mobile){
            height: 100vh;
        }
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10rem !important;
        height: 30rem;
        padding: 5%;
        background-color: #d8c962;
        margin-top: 1px solid white;

        &--notification{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 5.2rem;
            width: 5.2rem;
            border-radius: 50%;
            background-color: rgb(117, 45, 45);
            font-size: 2.7rem;
            position: absolute;
            right: 50rem;
            @include respond(tab-land){
                right: 54rem;
            }
            @include respond(tab-port){
                right: 41rem;
            }
            @include respond(big-mobile){
                top:30%;
                right: 35rem;
            }
            @include respond(mobile){
                top:43%;
                right: 35rem;
            }
            top: 8.9rem;
        }
    }
}
.userCarouselImage{
    height: 40rem;
    width: 30rem !important;
}