.NoFilesUploaded{
    height: 70vh;
    @include respond(tab-port){
        height: 90vh;
    }
    width: auto;
    position: relative;
}
.advertise--mobile{
    @include respond(big-mobile){
        padding-bottom: 25rem;
    }
}
.NoFiles{
    position: absolute;
    font-size: 3rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.advertise__info{
    &--link:link,&--link:visited{
        text-decoration: none;
        color: white;
    }
    &--link:hover{
        color:#b0a160;
    }
}