.margin-top--big{
    margin-top: 8rem;
}
.margin-top--medium{
    margin-top: 6rem !important;
}
.margin-bottom--small{
    margin-bottom: 4rem !important;
}
.margin-bottom--medium{
    margin-bottom: 6rem !important;
}
.margin-bottom--big{
    margin-bottom: 8rem !important;
}
.margin-3-px{
    margin-right: .3rem;
}
.backgroung-color-blue{
    background-color: #5b8c85;
}