.btn{
    text-decoration: none;

    &--login,&--signup,&--logo{
        color: white;
        transition: all .4s;
        &:hover{
            color: #b0a160;
        }
    }
    &--form-login,&--form-signup{
        font-family: 'Poppins', sans-serif;
        color: white;
        background-color: #734F4F;
        margin-top: 3rem;
        margin-left: 12rem;
        @include respond(big-mobile){
            margin-left: 6rem;
        }
        @include respond(mobile){
            margin-left: 12rem;
        }
        font-size: 2.2rem;
        &:hover{
            // color:#347474;
            color: white;
            //border:#851d41 1px solid;
          }
    }
    &--googleAuth{
       display: flex;
       @include respond(big-mobile){
           margin-right: 6rem;
       }
       @include respond(mobile){
           margin-right: 1rem;
       }
       justify-content: center;
       align-items: center;
        color:#FFFFFF;
        margin-top: 5rem;
        &:hover{
            color:#fdd365;
            }
    }
}
.button__download{
    position: absolute;
    top:35rem;
    left:12rem;
    &--apple{
        padding:1rem 2rem;
        font-size: 1.8rem;
        border-radius: 1rem;
        transition: all .4s;
        &:hover{
            padding: 1rem 2rem;
            font-size: 2.1rem;
            border-radius: 1rem;
            border: .2rem solid #ffe196;
            background-color: #e9ea77;
        }
    }
    &--google{
        padding:1rem 2rem;
        font-size: 1.8rem;
        border-radius: 1rem;
        transition: all .4s;
        &:hover{
            padding: 1rem 2rem;
            font-size: 2.1rem;
            border-radius: 1rem;
            border: .2rem solid #ffe196;
            background-color: #347474;
        }
    }   
}
.form-button{
    padding: 1%;
    font-size: 2rem;
}
.dashboard__buttons-btn{
    font-size: 2rem;
    padding: 2%;
    margin-right: 1rem;
    border-radius: 1rem;
}