.custom--carousel{
   @include respond(mobile){
       display: none;
   }
   @include respond(big-mobile){
    display: none;
}
    height:46.2rem;
   width: 100%;
   overflow: hidden;
  position: relative;
  border-bottom:1px solid white;
}
.carousel__slide{
    position:relative;
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &--image{
        padding-left: 5rem;
        display: inline-block;
        height: 30rem;
        width: 30rem;
    }
    &--text{
        align-self: center;
        padding-bottom: 2rem;
        padding-right: 2rem;
    }
  }
