.mainHeader{
    &__option{
        font-size: 1.8rem;
        display: flex;
        justify-content: space-between;
        flex:0 0 60%;
        align-items: center;
        &--sellBooks{
            margin: 0 auto;
            &-link:link,&-link:visited{
                color: white;
                text-decoration: none;
                transition: all .5s;
            }
            &-link:hover{
                text-decoration: none;
                color: #b0a160;
            }
        }
        &--profile{
            margin-right: 10rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-icon{
                
            }
            &-dropdown{     
                &-input{
                   opacity: 0;
                   display: none;
                   width: 0;
                }
                &-show{  
                    opacity: 0;
                    height: 0;
                    width: 0;
                    transition: all .5s;
                }
            }
        }
        &--search{
            position: relative;
            margin-right: 25rem;
            &-icon{
                z-index: 1;
                color: #D6D2C4;
                position: absolute;
                top: -.7rem;
                left: .9rem;
            }
            &-input{
                color: #D6D2C4;
                font-size: 1.8rem;
                position: absolute;
                top: -2rem;
                left: 0;
                padding: .6rem;
                padding-left: 5rem;
                border-radius: 10rem;
                border: none;
                @include respond(big-mobile){
                    width: 23rem;
                }
                &::-webkit-input-placeholder{
                    color: #D6D2C4;
                }
                &:focus{
                    outline: none;
                }
            }

        }
    }
}
.mainHeader__option--profile-dropdown-show{
    z-index: 1000;
    font-family: 'Baloo', cursive;
    background-color: #ff677d;
    position: absolute;
    top: 7rem;
    right:10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-logout{
        &-link:link,&-link:visited{
            font-size: 1.6rem;
            text-decoration: none;
            color: white;
            margin-bottom: 1rem;
        }
        &-link:hover{
            color: #b0a160;
        }
    }
    &-dashboard{
        &-link:link,&-link:visited{
            font-size: 1.6rem;
            font-weight: 400;
            text-decoration: none;
            color: white;
            margin-bottom: 1rem;
        }
        &-link:hover{
            color: #d8c055da;
        }
        
    }
}